//- https://www.iconfinder.com/iconsets/fat-face Las fotos son de este link
//- Variables para style
-const firstDiv = "text-align: center;"
-const secondDiv = "justify-content: space-evenly; align-content: center;"
-const thirdDiv = "margin: 10px; text-align:center"

//-Pug
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Productos en PUG
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous")
    body
        div(class="container-fluid" style=firstDiv)
            h1 Desde Pug
            a(href="/" class="btn btn-success") Volver al Formulario
            div(class="row" style=secondDiv)
                each product in products
                    div(class="card col-2" style=thirdDiv)
                        img(class="card-img-top" src=product.thumbnail alt="Card")
                        div(class="card-body")
                            h3 #{product.title}
                            p(class="card-text") id: #{product.id}
                            p(class="card-text") $#{product.price}

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous")          